.k-btn-icon-header-container {
  padding-right: 20px;
  border-right: 1px solid grey;
}

.k-img-responsive {
  object-fit: cover;
  height: 410px;
}

.k-widget-card {
  &__banner {
    span {
      position: absolute;
      top: 0;
      color: #fff;
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 10px;
      padding-bottom: 50px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0) 100%
      );
      border-bottom: none;
    }
  }
}

.k-nav-header {
  padding-bottom: 0;
}

.k-nav-header.sticky {
  padding-bottom: 0;
}

.k-bottom-bar {
  display: none;
}

.divide-all {
  margin-left: 0;
}

.divide-all > * {
  border-bottom: 1px solid #ddd;
  height: auto!important;
}

.divide-all > *:nth-child(4n) {
  border-right: none;
}

.divide-all > *:nth-last-child(-n+4) {
  border-bottom: none;
}

.k-footer {
  padding-bottom: 0;
}

.control-add-info {
  margin-bottom: 35px;
}

.k-title-categories {
  font-size: 24px;
}

.k-categories-desc {
  font-size: 19px;
  overflow: visible;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-line-clamp: none;
}

.k-breadcrumb {
  background-color: #fff;
  color: #3e562b;
  margin-bottom: 10px;
  padding: 5px 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
}

.li-breadcrumb::after {
  content: "»";
  padding: 0 5px;
}

.li-breadcrumb a {
  color: var(--main-brand-color);
}

.li-breadcrumb * {
  font-weight: 500;
  font-size: 13px;
}

.wrapper-body {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #f5f5f5;
}

.control-desc-add-info {
  font-size: 14px;
}

.k-space-gap-title {
  display: block;
}

.k-categories-card {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  max-width: 100%;
}

.k-categories-card img {
  height: 130px;
}

.k-categories-card-body span {
  font-size: 14px;
}

.k-filter-wrapper {
  border-bottom: none;
}

.k-title-section {
  display: block;
  font-size: 18px;
  color: var(--main-text-color);
  font-weight: 700;
}

.k-panel-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.k-panel-control-container span {
  font-size: 14px;
  color: var(--main-text-color);
}

.k-panel-control {
  display: flex;
  margin-left: 10px;
}

.k-panel-control > i {
  transition-duration: 0.2s;
  transition-property: transform;
  cursor: pointer;
}

.k-panel-control.collapsed > i {
  transform: rotate(180deg);
}

.k-filter-card {
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.k-filter-list ul.swiper-wrapper {
  flex-direction: column;
  padding: 0 10px 10px;
  width: auto;
  gap: 0;
}

.k-filter-card-wrapper {
  width: 100%;
  overflow: unset;
}

.k-filter-badge li a {
  color: #4d4d4d;
  font-size: 13px;
  padding: 4px 10px;
  border: none;
}

.k-filter-badge li a:hover {
  color: var(--main-brand-color);
  font-weight: 600;
}

.k-filter-badge li.active a {
  background-color: #fff;
  color: var(--main-brand-color);
  border: none;
  font-weight: 600;
}

.k-panel-plain {
  background-color: #f1f1f1;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.k-panel-plain span {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.k-filter-list-group ul.swiper-wrapper {
  padding: 0;
}

.k-filter-list-group li a {
  display: flex;
  align-items: center;
  border-top: 1px solid #dee2e6;
  border-radius: 0;
  text-align: left;
  font-weight: 600;
  gap: 5px;
}

.k-filter-list-group li.active a {
  border-top: 1px solid #dee2e6;
  font-weight: 600;
}

.k-filter-list-group li.active a:hover,
.k-filter-list-group li a:hover {
  font-weight: 600;
}

.k-filter-list-group li a span {
  text-wrap: balance;
}

.k-filter-list-group li:last-child a {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.k-filter-list-group li img {
  display: block;
}

.k-panel-checbox .form-check-label {
  display: none;
}

.k-panel-checbox .btn-check {
  order: 2;
}

.k-panel-checbox label.btn {
  order: 1;
}

.k-badge-checkbox .form-check-input {
  border-color: var(--main-text-color);
  position: static;
  clip: auto;
  pointer-events: auto;
  margin-top: 0;
}

.k-badge-checkbox .form-check-input:checked {
  border-color: var(--main-brand-color);
}

.k-badge-checkbox label.btn {
  padding: 0;
  border-color: transparent;
}

.k-badge-checkbox .btn-check:checked + .btn,
.k-badge-checkbox .btn-check + .btn:hover {
  border-color: transparent;
  color: var(--main-text-color);
  background-color: transparent;
  font-weight: 400;
}

.k-box-list-container {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
  border-radius: 8px;
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
}

.k-box-list-item {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.k-product-card {
  border: 2px solid #b8b8b9;
  transition: border .3s;
  border-radius: 5px;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

.k-product-card:hover {
  border: 2px solid #1e76bb;
  box-shadow: 0 0 10px 0 #ccc;
}

.k-product-card-footer {
  justify-content: start;
  flex-wrap: wrap;
  padding: 0;
}


.k-product-card-footer .btn {
  font-size: 13px;
}

.k-product-card-item-title {
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 24px;
}

.fs-sm-13 {
  font-size: inherit;
}

.k-company-card-img {
  order: 1;
}

.k-company-card-info {
  order: 2;
}

.k-company-card-link {
  background-color: #f5f5f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.k-product-card-img {
  min-width: auto;
  max-width: none;
}

.k-price {
  font-size: 18px;
  font-weight: 500;
}

.k-tab-product {
  margin: 0 0 5px;
}

.k-tab-product-label {
  background-color: transparent;
  color: #333;
  padding-top: 14px;
  padding-bottom: 14px;
}

.k-tab-product-label * {
  text-transform: uppercase;
}

.k-tab-product-label.active {
  background-color: transparent;
  color: var(--main-brand-color);
  border-color: transparent transparent var(--main-brand-color) transparent;
  border-bottom-width: 2px;
}

.k-tab-product-label {
  border-color: transparent;
  border-radius: 0;
}

.k-tab-product-label:hover {
  border-color: transparent;
}

.k-tab-product-label.active:hover {
  border-bottom-color: var(--main-brand-color);
}

.k-product-rfq {
  border: 2px solid #1e76bb;
  transition: border 0.3s;
  border-radius: 5px;
  box-shadow: none;
  padding: 10px;
}

.k-full-container-m {
  margin-left: auto;
  margin-right: auto;
}

.k-product-rfq-body {
  padding: 20px 20px 10px;
}

.k-product-rfq-card {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  gap: 0;
}

.k-product-rfq-card > img {
  width: 150px;
  height: 150px;
}

.k-product-rfq-card-title {
  font-size: 16px;
}

.k-product-rfq-title {
  background-color: var(--main-brand-color);
  color: #fff;
  border-radius: 4px;
  padding: 20px;
}

.k-product-rfq-title h2 {
  font-size: 22px;
}

.k-product-rfq-title h4 {
  font-size: 20px;
}

.k-btn-rfq .btn {
  color: var(--main-brand-color);
  background-color: transparent;
  border-color: var(--main-brand-color);
  border-width: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  height: 58px;
  border-radius: 0;
  margin-top: 15px;
}

.k-btn-rfq .btn:hover {
  color: #fff;
  background-color: var(--main-brand-color);
  border-color: var(--main-brand-color);
}

.k-register-supplier-info {
  padding: 20px 0 20px 30px;
}

.k-register-supplier-title {
  font-size: 16px;
}