.k-btn-icon-header-container {
  padding-right: 20px;
  border-right: 1px solid grey;
}

.k-img-responsive {
  object-fit: cover;
  height: 410px;
}

.k-widget-card {
  &__banner {
    span {
      position: absolute;
      top: 0;
      color: #fff;
      font-size: 17px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 10px;
      padding-bottom: 50px;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0,
        rgba(0, 0, 0, 0) 100%
      );
      border-bottom: none;
    }
  }
}

.k-nav-header.sticky {
  padding-bottom: 0;
}

.k-bottom-bar {
  display: none;
}

.divide-all {
  margin-left: 0;
}

.divide-all > * {
  border-bottom: 1px solid #ddd;
  height: auto!important;
}

.divide-all > *:nth-child(4n) {
  border-right: none;
}

.divide-all > *:nth-last-child(-n+4) {
  border-bottom: none;
}

.k-footer {
  padding-bottom: 0;
}

.control-add-info {
  margin-bottom: 35px;
}