// Include any default variable overrides here
:root {
  --dark-blue: #25408f;
  --dark-grey: #212529;
  --main-brand-color: #d53030;
  --main-text-color: #484848;
  --main-brand-orange: #f57224;
}
$primary: #d53030;

// Include variables for overrides default colors bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add custom code here
body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--main-text-color);
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  line-height: 1em;
  margin-bottom: 14px;
}

h1 {
  font-size: 24px;
}

a {
  text-decoration: none !important;
}

.text-orange {
  color: var(--main-brand-orange);
}

.text-primary {
  color: var(--main-brand-color);
}

.text-dark-gray {
  color: #333;
}

.input-group > .form-control:focus,
.input-group > .form-select:focus {
  z-index: 2;
}

*:focus {
  box-shadow: none !important;
}

.k-fs-14 {
  font-size: 14px;

  * {
    font-size: 14px;
  }
}

.container {
  max-width: 1500px !important;
}

.k-text-balance {
  text-wrap: balance;
}

.k-text-pretty {
  text-wrap: pretty;
}

.k-top-header {
  padding: 2px 0;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
}

.k-link-header {
  display: flex;
  align-items: center;
}

.k-link-header .icon-mobile {
  font-size: 17px;
}

.k-link-header span {
  font-size: 12px;
}

.k-top-nav {
  gap: 20px;
}

.k-nav-link {
  color: var(--main-text-color);
  cursor: pointer;
}

.k-nav-link:hover {
  color: var(--main-brand-color);
}

.k-nav-link:focus {
  box-shadow: none;
}

.k-dropdown-top-header {
  padding: 0;
  font-size: 12px;
  border: none;
}

.k-dropdown-menu-header .dropdown-item {
  font-size: 12px;
}

.k-link-red {
  color: var(--main-brand-color);
}

.k-header-logo {
  width: 135px;
  height: 40px;
}

.k-bg-logo {
  background-image: url(https://resources.indotrading.com/frontend/images/logo-lg.png?v=6);
  background-size: cover;
  background-repeat: no-repeat;
}

.k-btn-dropdown-filter-search {
  width: auto;
  text-align: left;
  border-color: var(--main-brand-color);
  border-width: 2px;
  border-left-width: 1px;
  border-left-color: var(--main-brand-color);
  color: black;

  &:hover {
    background-color: transparent;
    color: var(--main-text-color);
    border-color: var(--main-brand-color);
    border-left-color: var(--main-brand-color);
  }

  &.show {
    background-color: transparent !important;
    border-color: var(--main-brand-color) !important;
    box-shadow: none !important;
    color: var(--main-text-color) !important;
    border-left-width: 1px;
    border-left-color: var(--main-brand-color);
  }

  &:focus {
    box-shadow: none !important;
  }

  .icon-down-open {
    color: var(--main-brand-color);
  }

  &:focus-visible {
    .icon-down-open {
      color: #fff;
    }
  }
}

.k-hide-caret::after {
  content: "";
  display: none;
}

.k-dropdown-brand {
  border-color: var(--main-brand-color);
}

.k-btn-icon-header {
  padding-left: 0;
  padding-right: 0;

  .home-icon-menu {
    font-size: 21px;
    color: grey;
    display: flex;
  }
}

.k-btn-icon-header-container {
  gap: 15px;
  border-right: none;
  padding-right: 0;
}

.k-btn-login {
  padding: 9px 1rem;
}

.k-basket-container .k-counter-basket {
  position: absolute;
  top: 2px;
  right: 3px;
  background-color: #00f;
  border-radius: 7px;
  padding: 2px 5px;
  color: #fff;
  font-size: 10px;
}

.k-form-search .form-control {
  border: 2px solid var(--main-brand-color);
  border-right-color: #ccc;
  border-right-width: 0;
}

.k-top-header.active {
  position: relative;
  z-index: 1001;
  background-color: #fff;
}

.k-nav-header {
  background-color: #fff;
  position: relative;
  padding-bottom: 0.5rem;
}

.k-nav-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  padding-bottom: 0.5rem;
}

.k-nav-header.active {
  z-index: 1000;
}

.k-nav-header.sticky .k-wrapper-logo {
  display: none;
}

.k-menu {
  border: none;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

.k-menu.active {
  position: relative;
  z-index: 990;
  background-color: #fff;
}

.k-menu-header {
  background-color: var(--main-brand-color);
  color: #fff;
  padding: 8px 25px;
  font-size: 18px;
  text-transform: uppercase;
}

.k-menu-item {
  position: static;
}

.k-menu-item:hover .k-menu-item-link,
.k-menu-item:hover .k-menu-item-link i {
  background-color: var(--main-brand-color);
  color: white;
}

.k-menu-item:hover .dropdown-menu {
  left: 100%;
  top: 0;
  bottom: 0;
  box-shadow: none;
  min-width: 0;
  border-radius: 0;
  padding: 12px 0 12px 10px;
  position: absolute;
  width: 995px;
  height: inherit;
  max-height: unset;
  display: flex;
  overflow-y: auto;
  border-width: 0 0 0 1px;
}

.k-menu-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.k-menu-item-link {
  background-color: #f5f5f5;
  border-color: transparent;
  padding: 5px 25px;
  color: var(--main-text-color);
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.k-menu-item-link .icon-right-open {
  color: #ddd;
}

.k-menu-item-title {
  color: var(--main-brand-color);
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 0 !important;
  display: block;
  line-height: 1.3;
}

.k-menu-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 0;
}

.k-menu-list *:hover {
  color: var(--main-brand-color);
}

.k-menu-list * {
  text-wrap: balance;
}

.k-menu-list > li {
  width: 20%;
  padding: 0 12px;
}

.k-menu-list > li > ul {
  gap: 15px;
  margin-bottom: 15px;
}

.k-menu-list > li > ul > li > a {
  font-size: 13px;
  color: #555;
  line-height: 1.3;
  display: block;
}

.k-menu-footer {
  padding: 8px 25px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
}

.k-menu-footer a {
  color: #58595b;
}

.k-menu-footer a:hover {
  color: var(--main-brand-color);
}

.k-tab-header-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #4d4d4d;
  display: flex;
  border-bottom: 4px solid #f5f5f5;
  flex: 1 0 0;
  justify-content: center;
  height: 43px;
  align-items: center;
  font-weight: 700;
}

.k-tab-header-link.active {
  color: var(--main-brand-color);
  border-bottom: 4px solid var(--main-brand-color);
}

.k-tab-header-link:hover {
  color: var(--main-brand-color);
  border-bottom: 4px solid var(--main-brand-color);
}

.k-img-responsive {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.swiper-navigation-disabled.banner-section .carousel-control-prev,
.swiper-navigation-disabled.banner-section .carousel-control-next {
  display: none !important;
}

.k-heading-parade {
  padding-bottom: 10px;
  border-bottom-color: #ddd;
  margin-bottom: 15px;
  font-size: 14px;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.k-parade-title {
  font-size: 12px;
  margin-bottom: 10px;
}

.k-parade-image {
  width: 170px;
}

.k-parade-price {
  color: var(--main-brand-orange);
  font-size: 13px;
}

.k-parade-company {
  color: rgb(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 400;
}

.k-parade-source {
  display: flex;
  gap: 4px;
  font-size: 12px;
  color: var(--dark-grey);
  align-items: center;
}

.k-parade-tax {
  color: var(--bs-blue);
  font-size: 12px;
  color: var(--dark-blue);
}

.k-parade-location {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: rgb(194, 84, 66);
  gap: 4px;
}

.k-swiper-navigation .swiper-button-next:after {
  content: "";
}

.k-swiper-navigation .swiper-button-prev:after {
  content: "";
}

.k-swiper-navigation .swiper-button-next,
.k-swiper-navigation .swiper-button-prev {
  opacity: 0;
  margin-top: -3%;
}

.k-swiper-navigation .swiper-button-next:focus,
.k-swiper-navigation .swiper-button-prev:focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2) !important;
}

.zoom-in {
  transition: transform ease 0.3s;
}

.k-widget-card {
  width: 100%;
  box-shadow: none;

  &__banner {
    position: relative;

    span {
      color: var(--main-text-color);
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 10px;
      text-transform: uppercase;
      border-bottom: 1px solid var(--bs-border-color);
    }
  }

  &__list {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover img {
      transform: scale(1.1);
    }
  }

  &__item-title {
    text-align: center;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    order: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__item-img {
    margin: 0 auto;
    transition: transform ease 0.3s;
    order: 1;
    padding: 10px;
  }
}

.k-boxshadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.k-widget-parade {
  background-color: #fff;

  &__header {
    padding: 0 0 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 16px;
  }

  &__card {
    border: 1px solid #ddd;
    padding: 0 10px 10px;
  }

  &__card-title {
    position: relative;
    display: inline-block;
    overflow: unset;
  }

  &__card-label {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    &:hover {
      color: var(--main-brand-color);
    }
  }

  &__card-tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    font-size: 12px;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  &__card-price {
    color: var(--main-brand-orange);
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bolder;
  }

  &__card-company {
    color: green;
    font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__card-other {
    color: grey;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
}

.k-widget-parade-title {
  display: inline;
  color: var(--main-text-color);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0;
}

.k-button-outline {
  border-width: 2px;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: transparent;
    color: var(--main-brand-color);
  }
}

.k-bottom-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 0;
  z-index: 100;
  box-shadow: 0 2px 10px #ddd;
  padding: 6px 0;

  .home-icon-menu {
    font-size: 20px;
    height: 35px;
    display: flex;
    align-items: center;

    img {
      height: 20px;
    }
  }

  &__item {
    font-size: 10px;
    font-weight: 700;
    color: #333;
  }

  .active {
    .k-bottom-bar__item {
      color: var(--main-brand-color);
    }
  }
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.divide-all {
  margin-left: -10px;
}

.divide-all > * {
  border-right: 1px solid #ddd;
}

.k-company {
  &__card {
    color: inherit;
  }

  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &__desc {
    font-size: 12px;
    margin-bottom: 10px;
  }

  &__status {
    font-size: 12px;
    color: grey;
  }

  &__icons {
    display: flex;
    gap: 10px;
    margin: 8px 0;
  }
}

.k-company__verified {
  display: flex;
  border: 1px solid #10a048;
  border-radius: 25px;
  padding: 0px 5px 0 0;
  align-items: center;
  height: 22px;
  background-color: #fff;

  img {
    width: 22px;
    height: 22px;
    position: relative;
    left: -1px;
  }

  span {
    font-size: 11px;
    color: #10a048;
  }
}

.k-company__verified.badge-lg {
  height: 27px;

  img {
    width: 27px;
    height: 27px;
  }

  span {
    font-size: 12px;
  }
}

.k-company__response-rate {
  border-radius: 12px;
  border: 1px solid #a9a9a9;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  padding: 1px 10px;
  height: 22px;
  line-height: 22px;

  .tooltiptext {
    visibility: hidden;
    position: absolute;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-size: 10px;
    border-radius: 6px;
    z-index: 99;
    opacity: 0;
    transition: opacity .3s;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.k-company__response-rate-label {
  font-size: 12px;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}

.tooltip-bottom::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.k-modal-header-menu {
  background-image: url('https://resources.indotrading.com/mobile/images/sidemenu-m-bg.png');
  background-repeat: no-repeat;
  height: 135px;
  background-size: 100% 100%;
  padding: 15px;
  align-items: baseline;
}

.k-header-menu-logo {
  width: 130px;
}

.btn-bgr-red {
  padding: 12px;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  transition: all .3s ease;
  border: none;
  background: #d42029;
  color: #fff;
}

.k-header__notLogin {
  margin-top: 10px;
  display: flex;
}

.k-header__notLogin .btn {
  box-shadow: 0 0 3px 6px rgba(255, 255, 255, .51);
}

.k-header__login {
  display: flex;
  position: relative;
  width: 100%;
}

.text-sidemenu {
  color: #3f3f3f;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.icon-fw {
  width: 28px;
  text-align: center;
  line-height: 1;
}

.k-spacer-menu {
  border-bottom: 7px solid #f0f2f6 !important;
}

.k-modal-header__nav {
  border-bottom: 2px solid #f0f0f0;
  padding: 16px;
}

.p-10 {
  padding: 10px;
}

.k-footer {
  background-color: #404042;
  color: #dedfe0;
  padding-bottom: 3rem;
}

.k-footer a {
  color: #dedfe0;
}

.k-footer a:hover {
  color: white;
}

.inner-top-footer {
  padding-top: 40px;
  padding-bottom: 15px;
}

.inner-bottom-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .inner-bottom-footer.masterpage-footer {
  padding-top: 0;
}

.k-link-inline > li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.k-link-inline > li:last-of-type::after {
  content: "";
  display: none;
}

.info-title-site {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 22px;
}

.title-footer {
  color: #fff;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

.list-link-footer {
  margin-bottom: 30px;
}

.btn-language .btn {
  border: 1px solid #fff;
  background-color: #fff;
  color: #58595b;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 13px;
  font-weight: 400;
  border-radius: 0;
}

.btn-language .btn:not(.active) {
  background-color: transparent;
  color: #fff;
}

.btn-language .btn:not(.active):focus, 
.btn-language .btn:not(.active):hover {
  color: #58595b;
  background-color: #fff;
}

.socmed-footer a {
  background-color: #fff;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #404042;
  border-radius: 50%;
}

.socmed-footer:hover a {
  background-color: var(--main-brand-color);
  color: white;
}

.socmed-footer i {
  font-size: 18px;
}

.user-img {
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.setting-btn-menu {
  position: absolute;
  bottom: 0;
  right: 0;
}

.display-flex {
  display: flex;
}

.hover-menu .hover-show {
  display: none;
}

.hover-menu:hover .hover-show {
  display: block;
}

.k-dropdown-header-company {
  min-width: 375px;
  left: -150px;
}

.k-dropdown-header-user {
  min-width: 350px;
  right: 0;
}

.user-detail-menu {
  display: flex;
}

.user-detail-menu .img-circle {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-detail-menu .user-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.membership-supplier {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
}

.membership-supplier.gold .membership-year {
  border: 1px solid #b2772c;
  color: #b2772c;
}

.membership-supplier.platinum .membership-year {
  border: 1px solid #15435c;
  color: #15435c;
}

.membership-supplier.diamond .membership-year {
  border: 1px solid #1e76bb;
  color: #1e76bb;
}

.membership-supplier .membership-logo {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.membership-supplier.gold .membership-logo {
  background: url('https://cdn.indotrading.com/frontend/images/Gold-member-v1.png') no-repeat;
  background-size: 40px;
}

.membership-supplier.diamond .membership-logo {
  background: url('https://cdn.indotrading.com/frontend/images/Diamond-member-v1.png') no-repeat;
  background-size: 40px;
}

.membership-supplier.platinum .membership-logo {
  background: url('https://cdn.indotrading.com/frontend/images/Platinum-Member-v1.png') no-repeat;
  background-size: 40px;
}

.membership-supplier .membership-year {
  font-size: 12px;
  font-weight: 600;
  border-radius: 20px;
  position: relative;
  padding: 0 10px 0 35px;
  display: flex;
  margin-left: 10px;
  height: 22px;
  align-items: center;
}

.shine-me {
  width: 100%;
  animation-name: ShineAnimation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.divlinker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes ShineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left,rgba(255,255,255,0) 0,rgba(255,255,255,0) 45%,rgba(255,255,255,.5) 48%,rgba(255,255,255,.8) 50%,rgba(255,255,255,.5) 52%,rgba(255,255,255,0) 57%,rgba(255,255,255,0) 100%);
    background-position: -50px -50px;
    background-size: 100px 100px
  }

  to {
    background-repeat: no-repeat;
    background-position: 250px 250px
  }
}

.btn-bgr-pro {
  border: none;
  background-color: #b2772c;
  color: #fff;
  border-radius: 0;
}

.btn-bgr-red-sm {
  border: none;
  background-color: var(--main-brand-color);
  color: #fff;
  border-radius: 0;
}

.k-btn-dropdown-sm {
  width: 80%;
}

.membership-buyer {
  border-radius: 20px;
  padding: 2px 10px 2px 2px;
  display: flex;
  align-items: center;
}

.membership-buyer .membership-logo {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.membership-buyer .membership-type {
  font-size: 12px;
}

.membership-buyer.trusted {
  border: 1px solid #3c9043;
  color: #3c9043;
}

.membership-buyer.trusted .membership-logo {
  background: #3c9043;
}

.membership-buyer .membership-logo i {
  color: #fff;
}

.goverment-round-container {
  border: 1px solid var(--main-brand-color);
  border-color: var(--main-brand-color) !important;
  color: var(--main-brand-color) !important;
  background-color: #fff;
  border-radius: 25px;
  padding: 1px 10px;
  cursor: pointer;
  position: relative;
  height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.goverment-round-container .new-trusted-container {
  position: absolute;
  left: -2px;
  top: 0;
  background: var(--main-brand-color);
  color: #fff;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}

.text-goverment {
  color: var(--main-brand-color) !important;
  font-size: 12px;
  margin-left: 16px;
}

.title-news-info:before {
  content: "";
  display: inline-block;
  background: url('https://resources.indotrading.com/frontend/images/title-news.jpg') no-repeat 0 0;
  width: 219px;
  height: 31px;
}

.control-title-add-info {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.control-title-add-info > a {
  color: #404041;
  text-decoration: none;
  font-weight: 500;
}

.control-desc-add-info {
  margin-bottom: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 12px;
}

.control-add-info {
  font-size: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.fix-image-news {
  width: 80%;
}

.control-item-add-info {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.control-item-add-info:hover a {
  color: var(--main-brand-color);
}

.link-all-add-info {
  color: #404041;
  font-size: 14px;
  text-align: left;
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  padding: 12px 30px 12px 16px;
  font-weight: 600;
  border-radius: 0;
}

.link-all-add-info:focus, .link-all-add-info:hover {
  background-color: #ededed;
  color: var(--main-brand-color);
}

.title-events-info:before {
  content: "";
  display: inline-block;
  background: url('https://resources.indotrading.com/frontend/images/title-events.jpg') no-repeat 0 0;
  width: 99px;
  height: 31px;
}

.k-title-categories {
  font-size: 18px;
  color: #333;
  font-weight: 500;
}

.k-categories-desc {
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.wrapper-body {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

.li-breadcrumb::after {
  content: "/";
  padding: 0 5px;
}

.li-breadcrumb a {
  padding: 0;
  text-align: left;
  color: #212529;
}

.li-breadcrumb * {
  font-size: 12px;
}

.li-breadcrumb.active * {
  color: var(--main-brand-color);
}

.li-breadcrumb:last-child::after {
  content: "";
  padding: 0;
}

.k-filter-wrapper {
  display: flex;
  gap: 5px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.k-filter-badge {
  overflow: hidden;
  flex: 1 1 0%;
}

.k-filter-badge ul {
  gap: 5px;
}

.k-filter-badge li a {
  display: flex;
  border: 1px solid #868686;
  border-radius: 20px;
  background-color: #fff;
  padding: 5px 10px;
  text-align: center;
  color: #868686;
  font-size: 12px;
}

.k-filter-badge li.active a {
  background: var(--main-brand-color);
  border: 1px solid var(--main-brand-color);
  color: #fff;
  font-weight: 500;
}

.k-filter-badge li {
  width: auto !important;
}

.k-filter-btn {
  flex: none;
}

.k-filter-card-wrapper {
  overflow: hidden;
}

.k-filter-list {
  overflow-x: auto;
}

.mr-10 {
  margin-right: 10px;
}

.filter-line-btn {
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  background: #fff;
}

.filter-line-btn i {
  color: var(--main-brand-orange);
  font-size: 19px;
  line-height: 1;
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

.hidescrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.k-categories-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
  max-width: 160px;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
  border-radius: 7px;
}

.k-categories-card img {
  width: 120px;
  height: 120px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.k-categories-card-body {
  background-color: #F6F6F6;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 60px;
  line-height: 1.1;
  padding: 15px 10px 10px;
}

.k-categories-card-body span {
  font-weight: 700;
  text-align: center;
  color: #333;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.k-space-gap-title {
  height: 3px; 
  width: 80px;
  background-color: #d42029;
  display: none;
}

.k-title-section {
  display: none;
}

.k-panel-control-container {
  display: none;
}

.k-filter-list-group li img {
  display: none;
}

.k-swiper-card-container {
  margin-left: -5px;
  margin-right: -5px;
}

.k-swiper-card {
  padding: 5px;
}

.k-panel-checbox {
  display: block;
}

.k-badge-checkbox label.btn {
  padding: 5px 10px;
  border: 1px solid #868686;
  color: #868686;
  font-size: 12px;
  border-radius: 20px;
}

.k-badge-checkbox .btn-check+.btn:hover {
  border: 1px solid #868686;
  color: #868686;
}

.k-badge-checkbox .btn-check:checked + .btn {
  background: var(--main-brand-color);
  border: 1px solid var(--main-brand-color);
  color: #fff;
  font-weight: 500;
}

.k-badge-checkbox span {
  position: relative;
  top: 1px;
}

.k-box-list-item ul {
  padding: 0;
  margin-bottom: 0;
}

.k-box-list-item ul li {
  margin-bottom: 1rem;
}

.k-box-list-item ul li:last-child {
  margin-bottom: 0;
}

.k-box-list-item {
  padding-bottom: 10px;
}

.k-product-card {
  box-shadow: 4px 4px 4px 3px rgba(0,0,0,.25);
}

.k-product-card-container {
  padding: 10px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.k-product-card-item {
  display: flex;
  gap: 15px;
}

.k-product-card-item-title {
  font-size: 15px;
  color: #333;
  font-weight: 700;
  line-height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 8px;
}

.k-product-card-item-title:hover {
  color: var(--main-brand-color);
}

.k-product-card-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 10px;
}

.k-product-card-footer .btn {
  font-size: 12px;
}

.k-company-card-link {
  background-color: #f5f5f7;
  padding: 10px 30px 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.k-company-card-img {
  display: flex;
  justify-content: center;
  order: 2;
  flex: none;
}

.k-company-card-info {
  order: 1;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.k-company-card-info .k-badge-membership {
  order: 2;
}

.k-company-card-info .k-company__verified {
  order: 3;
}

.k-company-card-title {
  order: 1;
}

.k-company-card-title * {
  color: #333;
}

.k-badge-membership {
  width: fit-content;
}

.k-badge-membership-lg {
  padding-top: 10px;
  padding-bottom: 10px;
}

.k-badge-membership-lg .membership-logo {
  top: 1px;
}

.k-badge-membership-lg .membership-year {
  height: 19px;
}

.w-fit {
  width: fit-content;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

.text-green {
  color: #569d5a;
}

.k-price {
  font-size: 13px;
  font-weight: bold;
}

.k-pdn {
  border: 1px solid var(--main-brand-orange);
  color: var(--main-brand-orange);
  border-radius: 25px;
  padding: 2px 6px;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
}

.k-pdn-img {
  width: 28px;
}

.fs-sm-13 {
  font-size: 13px;
}

.k-product-card-img {
  min-width: 100px;
  max-width: 100px;
}

.new-desc {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.new-title-desc {
  font-size: 20px;
}

.k-tab-product {
  margin: 0 10px 10px;
  display: flex;
}

.k-tab-product > * {
  flex: 1 1 0% !important;
}

.k-tab-product-label {
  width: 100%;
  border-color: #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
}

.k-tab-product-label * {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


.k-tab-product-label:hover {
  border-color: #ddd #ddd #ddd transparent;
  color: var(--main-brand-color);
}

.k-tab-product-label.active {
  background-color: var(--main-brand-color);
  border-color: var(--main-brand-color);
  color: #fff;
}

.k-product-rfq {
  box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.25);
  padding: 0;
}

.k-full-container-m {
  margin-left: -10px;
  margin-right: -10px;
}

.k-product-rfq-title {
  background-color: var(--main-brand-color);
  color: #fff;
  border-radius: 0;
  padding: 20px;
}

.k-product-rfq-title h2 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1em;
}

.k-product-rfq-title h4 {
  font-size: 13px;
}

.k-product-rfq-body {
  padding: 10px 20px;
}

.k-product-rfq-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gainsboro;
  gap: 20px;
  padding-bottom: 10px;
}

.k-product-rfq-card-title {
  color: var(--main-brand-color);
  font-weight: 700;
  font-size: 16px;
}

.k-product-rfq-card > img {
  width: 75px;
  object-fit: contain;
  flex: none;
}

.k-btn-rfq .btn {
  color: #fff;
  background-color: var(--main-brand-color);
  border-color: var(--main-brand-color);
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 15px;
}

.k-register-supplier {
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.k-register-supplier-title {
  background-color: var(--main-brand-orange);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.k-register-supplier-info {
  padding: 20px;
}

.k-register-supplier-text {
  font-size: 22px;
  font-weight: 300;
}

.k-register-supplier-banner {
  background: url('https://resources.indotrading.com/frontend/images/notification-search-product.png') no-repeat;
  background-size: 300px;
  background-position: center;
  height: 100%;
}

.footer-page {
  text-align: center;
}

.container-box, .container-box-brd-blue {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
}

.w-20 {
  width: 20%;
}

.footer-page .page-num-list li {
  margin-right: 20px;
}

.footer-page .page-num-list li a {
  color: #ddd;
  font-weight: 700;
  font-size: 18px;
}

.footer-page .page-num-list li.active a {
  color: var(--main-brand-color)
}

.footer-page .page-num-list li a:hover {
  color: var(--main-brand-color);
}

.btn-action-rfq {
  font-size: 12px;
}

.Metatop.list-company {
  margin: 0 0 20px 0;
}

.Metatop {
  background-color: #fff;
  margin: 5px 0;
  padding: 25px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
}

.Metatop.list-company .width100 {
  margin-bottom: 36px;
}

.k-table-compare {
  margin-bottom: 0;
}

.k-compare, .k-table-compare, .table.k-table-compare>:not(caption)>*>* {
  background-color: #f5f5f7;
}

.table.k-table-compare>:not(caption)>*>* {
  border-bottom-width: 0;
  padding: 0.25rem 0;
}

.k-compare-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.k-icon-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.k-icon-free {
  background-color: gray;
}

.k-icon-trusted {
  background-color: green;
}

.k-icon-pro {
  background-color: #CF953D;
}

.k-icon-cancel {
  background-color: var(--main-brand-color);
}

.k-table-compare th {
  border-bottom: 2px solid #ddd !important;
  padding-bottom: 10px !important;
}

.k-table-compare td {
  vertical-align: middle;
  color: #333;
}