.k-fs-14 {
  font-size: 1rem;

  * {
    font-size: 1rem;
  }
}

.k-header-logo {
  width: 100%;
  height: auto;
}

.k-bg-logo {
  height: 80px;
  background-size: contain;
  background-position: left;
}

.k-btn-icon-header {
  .home-icon-menu {
    font-size: 31px;
  }
}

.k-form-search > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  padding: 0.5rem 1rem;
}

.k-btn-dropdown-filter-search {
  width: 160px;
}

.k-text-uppercase-md {
  text-transform: uppercase;
}

.k-btn-search-header {
  width: 64px;
}

.k-tab-header-link {
  font-size: 18px;
}

.k-heading-parade {
  font-size: 1.25rem;
}

.k-swiper-navigation:hover .swiper-button-next,
.k-swiper-navigation:hover .swiper-button-prev {
  opacity: 1;
  display: flex;
  height: 33px;
  width: 33px;
  color: #000;
  background-color: #fff;
  padding-top: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}

.k-swiper-navigation .swiper-button-next:hover,
.k-swiper-navigation .swiper-button-prev:hover {
  color: #fff;
  background-color: var(--main-brand-color)
}