.container {
  width: 97% !important;
}

.k-fs-14 {
  font-size: 1rem;
}
.k-fs-14 * {
  font-size: 1rem;
}

.k-header-logo {
  width: 100%;
  height: auto;
}

.k-bg-logo {
  height: 80px;
  background-size: contain;
  background-position: left;
}

.k-btn-icon-header .home-icon-menu {
  font-size: 31px;
}

.k-form-search > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  padding: 0.5rem 1rem;
}

.k-btn-dropdown-filter-search {
  width: 160px;
}

.k-text-uppercase-md {
  text-transform: uppercase;
}

.k-btn-search-header {
  width: 64px;
}

.k-tab-header-link {
  font-size: 18px;
}

.k-heading-parade {
  font-size: 1.25rem;
}

.k-swiper-navigation:hover .swiper-button-next,
.k-swiper-navigation:hover .swiper-button-prev {
  opacity: 1;
  display: flex;
  height: 33px;
  width: 33px;
  color: #000;
  background-color: #fff;
  padding-top: 2px;
  border-radius: 4px;
  transition: all 0.3s ease-in;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
}

.k-swiper-navigation .swiper-button-next:hover,
.k-swiper-navigation .swiper-button-prev:hover {
  color: #fff;
  background-color: var(--main-brand-color);
}

.k-widget-card {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.k-widget-card__banner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  padding-bottom: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
  border-bottom: none;
}
.k-widget-card__item-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 13px;
  height: 15px;
  text-transform: uppercase;
  order: 1;
  margin-bottom: 15px;
}
.k-widget-card__list {
  padding: 10px;
  row-gap: 25px;
}
.k-widget-card__item-img {
  order: 2;
  padding: 0;
}

.k-parade-price {
  font-size: 16px;
}

.k-widget-parade {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 0 20px 16px;
}
.k-widget-parade__header {
  padding: 20px 0;
}
.k-widget-parade__card-label {
  font-size: 14px;
  font-weight: 500;
  -webkit-line-clamp: 2;
}
.k-widget-parade__card-price {
  font-size: 18px;
}

.k-widget-parade-title {
  font-size: 18px;
  font-weight: 400;
}

.k-button-outline {
  border: 2px solid var(--main-brand-color);
  font-size: 14px;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 4px;
}
.k-button-outline:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.k-nav-header.sticky .k-wrapper-logo {
  display: block;
}

.k-company-card-desc {
  width: 80%;
  flex: none;
}

.k-company-card-related {
  width: 10%;
  flex-direction: column;
}

.k-product-card-footer {
  flex: none;
  width: auto;
}

.k-company-card-list {
  justify-content: space-between;
}

.modal-new-login .new-iframe-login {
  min-height: 435px;
}

.sub-cat-wrapper {
  overflow-y: visible;
  height: auto;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
}

.idt-head-catalog .middle-div a {
  color: var(--main-brand-color);
  font-size: 15px;
}

.idt-companyProduct {
  height: 225px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 5px;
  display: block;
}

.idt-head-catalog.cat-product {
  border-bottom: none;
}

.img-banner-not-found {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-thumb {
  margin-right: 0;
}

.contact-shadow .text--black {
  display: none;
}

.wrap-action-btn-rfq {
  width: auto;
}

.sidebar-product-detail .bg-darkgray {
  display: block;
}

.k-breadcrumb-plain {
  display: block;
}

.single-product {
  margin-top: 0;
}

.tabpanel ul li:nth-child(odd) {
  background-color: white;
}/*# sourceMappingURL=tablet-up.css.map */